<div class="col-md-3 mb-3 mt-1">
    <div class="card">
        <div class="card-body">
            <div class="h2">
                {{ profile.full_name }}
            </div>
            <div class="h3 text-muted">
                @{{ profile.username }}
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="h6 text-muted">
                    Подписчиков: {{ follower_count }} <br/>
                    Подписан: {{ follows_count }}
                </div>
            </li>
            <li class="list-group-item">
                <div class="h6 text-muted">
                    Записей: {{ post_count }}
                </div>
            </li>
            {% if not does_own_profile %}
                <li class="list-group-item">
                    {% if following %}
                        <a class="btn btn-lg btn-light"
                           href="{% url 'profile_unfollow' profile.username %}" role="button">
                            Отписаться
                        </a>
                    {% else %}
                        <a class="btn btn-lg btn-primary"
                           href="{% url 'profile_follow' profile.username %}" role="button">
                            Подписаться
                        </a>
                    {% endif %}
                </li>
            {% endif %}
        </ul>
    </div>
</div>
